@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

/* General styling */


body { 
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    display: flex;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}


    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    
    @keyframes fadeOut {
        from { opacity: 1; }
        to { opacity: 0; }
    }
    

.form-section {
    background: rgba(255, 255, 255, 0.95);
    padding: 40px 80px; /* ลด padding */
    border-radius: 10px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.562);
    flex: 1;
    position: relative;
    left: -105px; /* ปรับตำแหน่งซ้าย */
    top: 20px; /* ปรับตำแหน่งบน */
}

.image-section {
    height: 40vh;
    margin: 0;
    flex: 1;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 3rem;
    color: #002fff;
    display: flex;               /* กำหนดให้เป็น flex container */
    justify-content: center;     /* จัดกลางในแนวนอน */
    align-items: center;         /* จัดกลางในแนวตั้ง */
}

.input-group {
    margin: 20px 0;   
    border: 1px solid hsl(204, 100%, 78%);
    border-radius: 10px;

}

input {
    width: 92.35%;
    padding: 18px;
    border: 10px solid #ffffff;
    border-radius: 10px;
    font-size: 1.2rem;
}

button {
    width: 100%;
    padding: 18px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #0024c7be, #002fff);
    color: #ffffff;
    font-size: 1.3rem;
    cursor: pointer;
}



.social-login {
    display: flex; /* ใช้ flexbox เพื่อให้ปุ่มเรียงกัน */
    justify-content: space-between; /* จัดให้มีระยะห่างเท่าๆ กัน */
    margin-top: 20px; /* เพิ่มระยะห่างด้านบน */
}

.social-button {
    width: 30%; /* กำหนดความกว้างของปุ่ม */
    padding: 10px; /* เพิ่มการ Padding ให้กับปุ่ม */
    border: none;
    border-radius: 10px;
    font-size: 1.5rem; /* ขนาดไอคอน */
    cursor: pointer;
    transition: background 0.3s ease;
}

.social-button i {
    margin-right: 5px; /* ระยะห่างระหว่างไอคอนและข้อความ */
}

.social-button.facebook:hover {
    background: #00b7ff;
    color: white;
}

.social-button.google:hover {
    background: #db4437;
    color: white;
}

.social-button.line:hover {
    background: #00861d;
    color: white;
}

.link a {
    color: #949494;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.link a:hover {
    text-decoration: underline;
    color: #ff0000;
}

#message {
    margin-top: 15px;
    color: #ff0800; /* Color for error messages */
    font-size: 1rem;
}
